<div class="row" style="margin-top:10px">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
        <fieldset>
            <h2>Sign Up</h2>
            <hr class="colorgraph">
            <div class="form-group">
                <input name="signup_email_id" type="text" id="signupEmailId" class="form-control input-lg" placeholder="Email Address" ng-model="newUser.email">
            </div>
            <div class="form-group">
                <input type="password" name="password" id="signupPassword" class="form-control input-lg" placeholder="Password" ng-model="newUser.password">
            </div>
            <div class="form-group">
                <input type="password" name="confirm_password" id="signupConfirmPassword" class="form-control input-lg" placeholder="Confirm Password" ng-model="newUser.confPassword">
            </div>
            <span class="button-checkbox">
            <!-- Additional Option -->
          <hr class="colorgraph">
                
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
              <input type="button" name="Signup" value="Signup" class="btn btn-lg btn-success btn-block" ng-click="userSingUp(newUser)">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6"> <a href="#/login" class="btn btn-lg btn-primary btn-block">Already have an Account ?</a> </div>
          </div>
                
        </span></fieldset>
        <!--</form>-->
    </div>
</div>